<% if @book.errors %>
    <ul>
<% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
       <% end %>
   </ul>
      <% end %>
<div class="container">
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/form', book: @book %>

	</div>

	<div class="col-xs-8 col-xs-offset-1">


		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@book.user) do %>
							<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, book_path(@book) %></td>
					<td><%= @book.body %></td>

					<td id="book_<%= @book.id %>_favorite-btn">
						<%= render 'favorites/favorite-btn', book: @book %>
					</td>

						<td id="comments-count">コメント数:<%= @book.book_comments.count %></td>
						<div class="comment-list bt style-2" id="comment" >

					<% if @book.user.id == current_user.id %>
					<td><%= link_to "Edit", edit_book_path(@book.id), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

			<table class="book_comments">
				<%= render 'book_comments/comment', book: @book %>
			</table>

		<div class="row">
			<%= form_with model:[@book, @book_comment] do |f| %>

			<%= f.text_area :comment, rows:'5', class: "col-xs-10 comment-form" %>
			<%= f.submit "送信", class: "btn btn-default btn-sm btn-base-1 pull-left" %>
			<% end %>
		</div>

	</div>
</div>
</div>
</div>
