<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= render 'layouts/header' %>
    </div>




  <div class="body">
    <div class="container">
      <% if user_signed_in? %>
        <%= render 'search/search_form' %>
      <% end %>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
